.18_54 { 
	overflow:hidden;
}.e18_54 { 
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:982px;
	position:absolute;
}.e18_55 { 
	width:1512px;
	height:982px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/pexels_chan_walrus_958370_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e18_56 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.699999988079071);
	width:281px;
	height:363px;
	position:absolute;
	left:636px;
	top:284px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}.e18_57 { 
	width:109px;
	height:20px;
	position:absolute;
	left:787px;
	top:510px;
}.ei18_57_62_66 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e18_58 { 
	width:238px;
	height:38px;
	position:absolute;
	left:658px;
	top:406px;
}.ei18_58_1146_0 { 
	background-color:rgba(255, 255, 255, 1);
	width:238px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.i18_58_1146_0 { 
	border:1px solid rgba(206.0000029206276, 212.00000256299973, 218.00000220537186, 1);
}.ei18_58_1156_448 { 
	color:rgba(171.00000500679016, 181.0000044107437, 190.0000038743019, 1);
	width:113px;
	height:21px;
	position:absolute;
	left:9.066666603088379px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e18_59 { 
	background-color:rgba(71.00000336766243, 105.00000134110451, 231.00000143051147, 1);
	width:125px;
	height:33px;
	position:absolute;
	left:714px;
	top:588px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e18_60 { 
	color:rgba(0, 0, 0, 1);
	width:45px;
	height:19px;
	position:absolute;
	left:40px;
	top:7px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e18_61 { 
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:66px;
	position:absolute;
	left:676px;
	top:348px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e18_62 { 
	color:rgba(0, 0, 0, 1);
	width:269px;
	height:49px;
	position:absolute;
	left:642px;
	top:312px;
	font-family:Inter;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}.e18_63 { 
	color:rgba(255, 251.81250303983688, 251.81250303983688, 1);
	width:920px;
	height:85px;
	position:absolute;
	left:22px;
	top:21px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e18_64 { 
	background-color:rgba(255, 255, 255, 0);
	width:91px;
	height:38px;
	position:absolute;
	left:1172px;
	top:83px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei18_64_1303_449 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:29px;
	position:absolute;
	left:11px;
	top:4.5px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e18_65 { 
	background-color:rgba(255, 255, 255, 0);
	width:91px;
	height:38px;
	position:absolute;
	left:1263px;
	top:83px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei18_65_1303_449 { 
	color:rgba(255, 255, 255, 1);
	width:66px;
	height:29px;
	position:absolute;
	left:12.5px;
	top:4.5px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e18_66 { 
	background-color:rgba(255, 255, 255, 0);
	width:124px;
	height:38px;
	position:absolute;
	left:1354px;
	top:83px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei18_66_1303_449 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:29px;
	position:absolute;
	left:14.5px;
	top:4.5px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e18_73 { 
	width:238px;
	height:38px;
	position:absolute;
	left:658px;
	top:472px;
}.ei18_73_1146_0 { 
	background-color:rgba(255, 255, 255, 1);
	width:238px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.i18_73_1146_0 { 
	border:1px solid rgba(206.0000029206276, 212.00000256299973, 218.00000220537186, 1);
}.ei18_73_1156_448 { 
	color:rgba(171.00000500679016, 181.0000044107437, 190.0000038743019, 1);
	width:138px;
	height:21px;
	position:absolute;
	left:9.066666603088379px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}