asgiref==3.6.0
astroid==2.14.2
backports.zoneinfo;python_version<"3.9"
dj-database-url==1.2.0
Django==4.1.6
django-bootstrap-datepicker-plus==5.0.3
django-bootstrap5==22.2
django-jquery==3.1.0
django-scheduler==0.10.1
django-tempus-dominus==5.1.2.17
gunicorn==20.1.0
icalendar==5.0.4
platformdirs==3.0.0
psycopg2==2.9.5
pydantic==1.10.5
python-dotenv==1.0.0
pytz==2022.7.1
sqlparse==0.4.3
typing_extensions==4.5.0
whitenoise==6.4.0
wrapt==1.15.0
