.11_27 { 
	overflow:hidden;
}.e11_27 { 
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:982px;
	position:absolute;
}.e11_60 { 
	background-color:rgba(12.750000189989805, 6.003125449642539, 6.003125449642539, 0.8700000047683716);
	width:1512px;
	height:152px;
	position:absolute;
	left:0px;
	top:0px;
}.e115_156 { 
	width:316px;
	height:38px;
	position:absolute;
	left:1178px;
	top:63px;
}.e11_39 { 
	background-color:rgba(255, 255, 255, 0);
	width:91px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei11_39_1303_449 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:29px;
	position:absolute;
	left:11px;
	top:4.5px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e11_41 { 
	background-color:rgba(255, 255, 255, 0);
	width:91px;
	height:38px;
	position:absolute;
	left:96px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei11_41_1303_449 { 
	color:rgba(255, 255, 255, 1);
	width:66px;
	height:29px;
	position:absolute;
	left:12.5px;
	top:4.5px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e11_43 { 
	background-color:rgba(255, 255, 255, 0);
	width:124px;
	height:38px;
	position:absolute;
	left:192px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei11_43_1303_449 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:29px;
	position:absolute;
	left:14.5px;
	top:4.5px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e11_38 { 
	color:rgba(255, 255, 255, 1);
	width:920px;
	height:85px;
	position:absolute;
	left:22px;
	top:21px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e11_62 { 
	background-color:rgba(110.50000101327896, 36.37291744351387, 36.37291744351387, 0.9599999785423279);
	width:994px;
	height:832px;
	position:absolute;
	left:518px;
	top:152px;
}.e11_51 { 
	background-color:rgba(191.25, 188.85938107967377, 188.85938107967377, 1);
	width:791px;
	height:720px;
	position:absolute;
	left:619px;
	top:208px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e11_50 { 
	color:rgba(0, 0, 0, 1);
	width:730px;
	height:695px;
	position:absolute;
	left:659px;
	top:220px;
	font-family:Inter;
	text-align:center;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}.e11_63 { 
	width:518px;
	height:830px;
	position:absolute;
	left:0px;
	top:152px;
	background-image:url(images/pexels_roman_odintsov_5836525_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}