.11_37 { 
	overflow:hidden;
}.e11_37 { 
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:982px;
	position:absolute;
}.e13_110 { 
	width:1512px;
	height:982px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/pexels_chan_walrus_958372_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e11_52 { 
	color:rgba(255, 255, 255, 1);
	width:920px;
	height:85px;
	position:absolute;
	left:22px;
	top:21px;
	font-family:Inter;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}.e11_53 { 
	background-color:rgba(255, 255, 255, 0);
	width:91px;
	height:38px;
	position:absolute;
	left:1174px;
	top:83px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei11_53_1303_449 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:29px;
	position:absolute;
	left:11px;
	top:4.5px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e11_55 { 
	background-color:rgba(255, 255, 255, 0);
	width:91px;
	height:38px;
	position:absolute;
	left:1270px;
	top:83px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei11_55_1303_449 { 
	color:rgba(255, 255, 255, 1);
	width:66px;
	height:29px;
	position:absolute;
	left:12.5px;
	top:4.5px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e11_57 { 
	background-color:rgba(255, 255, 255, 0);
	width:124px;
	height:38px;
	position:absolute;
	left:1366px;
	top:83px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei11_57_1303_449 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:29px;
	position:absolute;
	left:14.5px;
	top:4.5px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}.e13_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.6499999761581421);
	width:311px;
	height:379px;
	position:absolute;
	left:600px;
	top:255px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}.e13_117 { 
	width:109px;
	height:20px;
	position:absolute;
	left:782px;
	top:510px;
}.ei13_117_62_66 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Mulish;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e13_26 { 
	width:271px;
	height:38px;
	position:absolute;
	left:620px;
	top:340px;
}.e13_40 { 
	color:rgba(0, 0, 0, 1);
	width:136px;
	height:26px;
	position:absolute;
	left:687px;
	top:286px;
	font-family:Inter;
	text-align:center;
	font-size:36px;
	letter-spacing:0;
	line-height:px;
}.e13_41 { 
	width:271px;
	height:38px;
	position:absolute;
	left:620px;
	top:340px;
}.ei13_41_1146_0 { 
	background-color:rgba(255, 255, 255, 1);
	width:271px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.i13_41_1146_0 { 
	border:1px solid rgba(206.0000029206276, 212.00000256299973, 218.00000220537186, 1);
}.ei13_41_1156_448 { 
	color:rgba(171.00000500679016, 181.0000044107437, 190.0000038743019, 1);
	width:45px;
	height:21px;
	position:absolute;
	left:10.323809623718262px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e13_44 { 
	width:271px;
	height:38px;
	position:absolute;
	left:620px;
	top:406px;
}.ei13_44_1146_0 { 
	background-color:rgba(255, 255, 255, 1);
	width:271px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.i13_44_1146_0 { 
	border:1px solid rgba(206.0000029206276, 212.00000256299973, 218.00000220537186, 1);
}.ei13_44_1156_448 { 
	color:rgba(171.00000500679016, 181.0000044107437, 190.0000038743019, 1);
	width:41px;
	height:21px;
	position:absolute;
	left:10.323809623718262px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e13_47 { 
	width:271px;
	height:38px;
	position:absolute;
	left:620px;
	top:472px;
}.ei13_47_1146_0 { 
	background-color:rgba(255, 255, 255, 1);
	width:271px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.i13_47_1146_0 { 
	border:1px solid rgba(206.0000029206276, 212.00000256299973, 218.00000220537186, 1);
}.ei13_47_1156_448 { 
	color:rgba(171.00000500679016, 181.0000044107437, 190.0000038743019, 1);
	width:74px;
	height:21px;
	position:absolute;
	left:10.323809623718262px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e13_114 { 
	background-color:rgba(71.00000336766243, 105.00000134110451, 231.00000143051147, 1);
	width:139px;
	height:33px;
	position:absolute;
	left:687px;
	top:557px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e13_115 { 
	color:rgba(0, 0, 0, 1);
	width:59px;
	height:19px;
	position:absolute;
	left:40px;
	top:7px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}