{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
{% csrf_token %}

    <style>
        header {
            background-color: rgba(13, 6, 6, 0.87);
        }
    </style>
    <div class="booking_frame">
        <div class="booking_columns">
            <div class="booking_window">
                <h2>Booking</h2>
                <div>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" value="OK">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}