{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}

<div class="container opacity-75">
    <div class="card mt-5 ml-3 ">
        <div class="card-body">
            <h2 class="fs-2">Welcome to Swedish Home-Style Cooking</h2>

            <p class="fs-4">
                A cozy and authentic Swedish eatery. We believe in serving traditional and
                home-style Swedish cuisine, made with only the freshest and highest quality
                ingredients.
            </p>
            <p class="fs-4">
                Our menu is inspired by classic Swedish dishes that have been passed down from generation to generation.
                From
                the
                hearty and filling meatballs with mashed potatoes and lingonberry sauce, to the light and fresh gravad
                lax
                (cured
                salmon) with crisp bread and mustard sauce, there is something for everyone at our restaurant.
            </p>
            <p class="fs-4">
                Come and join us for a taste of Sweden. Whether you're looking for a romantic dinner for two, a family
                gathering,
                or a group celebration, our warm and friendly atmosphere will make you feel right at home.
            </p>
            <p class="fs-4">
                We look forward to serving you soon!
            </p>
        </div>
    </div>
</div>
{% endblock content %}