<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Swedish Home-Style Cooking</title>
  <meta name="description" content="Swedish Home-Style Cooking Restaurant">
  <meta name="author" content="Madeleine Frithiof-Lindergren">
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles.css">
  <style>
    body {
      background-image: url(images/pexels_chan_walrus_1026546_1.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>

<body>
  <header>
    <a href="index.html" id="logo">
      Swedish Home-Style Cooking
    </a>
    <nav>
      <ul id="menu">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="menu.html">Menu</a>
        </li>
        <li>
          <a href="booking.html">Booking</a>
        </li>
      </ul>
    </nav>
  </header>


  <div class="login_window">
    <h2 id="login-title">Login</h2>

    <div class="login-section">
        <form action="https://formdump.codeinstitute.net/" method="POST" class="login-form">
          <input type="text" id="name" name="name" required class="text-input" placeholder="Name">
          <input type="password" id="password" name="password" required class="text-input" placeholder="Password">
          <input type="submit" class="login-button" value="Login">
        </form>
    </div>
    <div>
      <a class="login_links" href="#">Privacy Policy</a>
      <a class="login_links" href="forgotpassword.html">Forgot Password</a>
      <a class="login_links" href="signup.html">Sign up</a>
    </div>
  </div>

  <footer>
    <p>Phone number: 123 6433854<br>
      Address: Tegelängsgatan 10<br>
      Opening hours: 17:00 - 00:00</p>
  </footer>
</body>

</html>