{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}

<div class="container">
    <div class="row">
        <div class="card border-0" style="width: 40rem;">
                <img src="{% static 'assets/images/pexels_roman_odintsov_5836525_1.png' %}" alt="Apple Pie picture">
        </div>
        <div class="card border-0" style="width: 40rem;">
            <div class="card-body">
                <h2>Menu</h2>

                <h3>Starter</h3>
                <ul>
                    <li>Toast Skagen.</li>
                    <li>Gravad lax (cured salmon) with crisp bread and mustard sauce.</li>
                    <li>Boiled baltic shrimp with dill mayonnaise.</li>
                    <li>Rice porridge with cinnamon and sugar and milk.</li>
                    <li>Pea soup.</li>
                </ul>
                <h3>Main course</h3>
                <ul>
                    <li>Swedish meatballs with mashed potatoes and lingonberry jam and brown sauce.</li>
                    <li>Pickled herring with boiled potatoes and sour cream.</li>
                    <li>Fried herring with potatoes and eggs.</li>
                    <li>Falukorv (swedish sausage) with macaroni and ketchup.</li>
                    <li>Blood pudding with lingonberry jam.</li>
                </ul>

                <h3>Dessert</h3>
                <ul>
                    <li>(Prinsesstårta) Princess cake.</li>
                    <li>(Äppelkaka) Apple cake.</li>
                    <li>(Våfflor) Swedish waffles.</li>
                    <li>(Pannkakor) Swedish pancakes.</li>
                    <li>(Kanelbulle) Swedish cinnamon bun.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}