<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Mulish&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e18_54><div  class="e18_55"></div><div  class="e18_56"></div><div class=e18_57><span  class="ei18_57_62_66">Privacy Policy</span></div><div class=e18_58><div  class="ei18_58_1146_0"></div><span  class="ei18_58_1156_448">New password</span></div><div class=e18_59><span  class="e18_60">Reset</span></div><span  class="e18_61">Enter your new password</span><span  class="e18_62">Reset password</span><span  class="e18_63">Swedish Home-Style Cooking</span><div class=e18_64><span  class="ei18_64_1303_449">Home</span></div><div class=e18_65><span  class="ei18_65_1303_449">Menu</span></div><div class=e18_66><span  class="ei18_66_1303_449">Booking</span></div><div class=e18_73><div  class="ei18_73_1146_0"></div><span  class="ei18_73_1156_448">Confirm password</span></div></div>
          </body>
          </html>