{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
{% csrf_token %}

<div class="container">
  <div class="card border-0">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table caption-top">
          <caption>Bookings</caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Admin User</th>
              <th scope="col">Name</th>
              <th scope="col">Booking date and time</th>
              <th scope="col">Persons</th>
              <th scope="col">Telephone</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for booking in bookings %}
            <tr>
              <th scope="row">{{ booking.id }}</th>
              <td>{{ booking.user }}</td>
              <td>{{ booking.name }}</td>
              <td>{{ booking.booking_date_time |date:"Y-m-d H:00" }}</td>
              <td>{{ booking.persons }}</td>
              <td>{{ booking.telephone_number }}</td>
              <td><a class="btn btn-success" href="/edit/{{ booking.id }}" role="button">Edit</a></td>
              <td><a class="btn btn-danger" href="/delete/{{ booking.id }}" role="button">Delete</a></td>
            </tr>
            {% endfor %}
            {% csrf_token %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
